/* colors */
:root {
    --color-phthalo-green: #00bf63;
    --color-night: rgb(18, 19, 15);
    --color-white: rgba(255, 255, 255, 0.969);
}

a img {
    width: 2.5%;
    height: 2.5%;
    border: 1.5px solid white;
  }

.thumbnail-image {
    width: 100%;
    margin-top: -30px;
}

.content-overlay {
    position: absolute;
    top: 28%;
    right: 10%;
    width: 33%;
    height: 50%;
    background-color: var(--color-white);
}

.greeting {
    font-size: 41px;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.greeting::after {
    content: "";
    position: absolute;
    display: block;
    width: 125%;     /* width of the line */
    border-bottom: 2px solid var(--color-phthalo-blue);
    bottom: -10px;     /* distance between the text and the line */
    left: 50%;
    transform: translate(-50%, -50%);
}

.motto {
    font-size: 20px;
    line-height: 1.5;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.our-vision {
    position: relative;
    width: 90%;
    margin: 80px auto; 
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 7px solid #00bf63;
}

.our-vision:hover {
    transform: translateY(-5px);
}

.features {
    position: relative;
    width: 90%;
    margin: 80px auto; 
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 7px solid #00bf63;
}

.save-the-animals {
    width: 33%;
    padding: 25px;
    margin-left: -10px;
}

.download {
    display: flex;
    flex-direction: row;
}

.save-the-animals-des {
    flex-grow: 1;
}

.available-devices {
    height: auto;
    width: 99%;
    margin-left: -20%;;
}

.resized-image {
    max-width: 1000px;
    height: 100%;
    margin-left: 0px;
}

.library {
    max-width: 800px;
    height: 450px;
    margin-right: 250px;
}

.save-the-animals-des {
    text-align: justify;
    display: block;
    margin-left: 50px;
    padding: 50px 92px 50px 50px;
    line-height: 1.5;
}

.download {
    position: relative;
    width: 90%;
    margin: 80px auto; 
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 7px solid #00bf63;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
}

.image-text {
    position: absolute;
    top: 65%;
    padding: 40px;
    text-align: left;
    font-size: 36px;
    color: var(--color-white);
}

.image-text p {
    position: absolute;
    top: 65%;
    margin: 8px 0;
    text-align: left;
    font-size: 16px;
    text-decoration: underline;
    color: var(--color-white);
    opacity: 0.8;
    text-align: center;
}

.clickable-div {
    position: relative;
    width: 30%;
    margin: 30px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
.clickable-div:hover {
    transform: translateY(-5px);
}